In [138]:
import pandas as pd

articles = pd.read_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data/articles.csv')
customers = pd.read_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data/customers.csv')
sample_submission = pd.read_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data/sample_submission.csv')
transactions_train = pd.read_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data/transactions_train.csv')

In [139]:
display(articles.shape)
display(customers.shape)
display(transactions_train.shape)
display(sample_submission.shape)

(105542, 25)

(1371980, 7)

(31788324, 5)

(1371980, 2)

In [140]:
transactions_train['customer_id'].value_counts()

customer_id
be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
                                                                    ...
63b70b71291668f0a63ade8e321fb3eccb80eba164f2087dad471de065f18e1f       1
950b172c36d169bf427545991fe66371f21a085799b44780fdcb2da6a3091613       1
7c284f13f4af9d6a53f97279381638ed0cb7afaa4fd4f3eaadc21993ea45fc69       1
62d49d0ae11a4f65fa31e354cb87f6b557ebec648e0e5e71435d2dd190d1ccc4       1
268eaa31a07d6f2f4f060bfcf32a660f3ea3dbb21ef14cd09fc2545f4e0b5c10       1
Name: count, Length: 1362281, dtype: int64

In [141]:
display(transactions_train['customer_id'].value_counts().mean())
display(transactions_train['customer_id'].value_counts().median())

23.334630667241193

9.0

In [142]:
transactions_train.tail(1)

,t_dat,customer_id,article_id,price,sales_channel_id
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [143]:
customers = customers[customers['club_member_status'] == 'ACTIVE']
customers.shape

(1272491, 7)

In [144]:
customers['Active'].value_counts()

Active
1.0    458452
Name: count, dtype: int64

In [145]:
customers = customers[customers['Active'] == 1]
customers.shape

(458452, 7)

In [146]:
customers['FN'].value_counts()

FN
1.0    458452
Name: count, dtype: int64

In [147]:
customers['age'].value_counts()

age
21.0    25546
20.0    21043
22.0    19176
23.0    18817
24.0    17724
        ...
90.0        4
95.0        2
91.0        2
98.0        1
94.0        1
Name: count, Length: 81, dtype: int64

In [148]:
customers = customers[customers['age'] <= 30]
customers.shape

(210484, 7)

In [149]:
customers = customers[customers['age'] >= 20]
customers.shape

(185129, 7)

In [150]:
customers['fashion_news_frequency'].value_counts()

fashion_news_frequency
Regularly    184642
NONE            245
Monthly         242
Name: count, dtype: int64

In [151]:
customers = customers[customers['fashion_news_frequency'] == 'Regularly']
customers.shape

(184642, 7)

In [152]:
customers_lst = customers['customer_id'].unique().tolist()

In [153]:
transactions_train = transactions_train[transactions_train['customer_id'].isin(customers_lst)]
transactions_train.shape

(5671104, 5)

In [154]:
transcations_df = transactions_train['customer_id'].value_counts().head(60000)

In [163]:
transcations_df[50000]

/var/folders/x_/f90km48x06x0wtfpr0xmjvxc0000gn/T/ipykernel_15752/3140742863.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  transcations_df[50000]

35

In [155]:
transcations_df[-1]

/var/folders/x_/f90km48x06x0wtfpr0xmjvxc0000gn/T/ipykernel_15752/588710613.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  transcations_df[-1]

29

In [156]:
transactions_lst = transcations_df.index.to_list()[50000:]

In [157]:
transactions_train = transactions_train[transactions_train['customer_id'].isin(transactions_lst)]
transactions_train.shape

(320208, 5)

In [158]:
customers = customers[customers['customer_id'].isin(transactions_lst)]
customers.shape

(10000, 7)

In [159]:
sample_submission = sample_submission[sample_submission['customer_id'].isin(transactions_lst)]
sample_submission.shape

(10000, 2)

In [160]:
drop_lst = ['FN','Active','club_member_status','fashion_news_frequency']
customers.drop(drop_lst, axis=1, inplace=True)

In [161]:
display(articles.shape)
display(customers.shape)
display(sample_submission.shape)
display(transactions_train.shape)

(105542, 25)

(10000, 3)

(10000, 2)

(320208, 5)

In [16]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL 연결 설정
engine = create_engine('mysql+mysqlconnector://urstory:u1234@localhost:3306/examplesdb')

# MySQL에 데이터프레임 저장
articles.to_sql('articles_table', engine, if_exists='replace', index=False)

engine.dispose()

In [134]:
from sqlalchemy import create_engine
# MySQL 연결 설정
engine = create_engine('mysql+mysqlconnector://urstory:u1234@localhost:3306/examplesdb')

# MySQL에 데이터프레임 저장
customers.to_sql('customers_table', engine, if_exists='replace', index=False)

engine.dispose()

In [135]:
# MySQL 연결 설정
engine = create_engine('mysql+mysqlconnector://urstory:u1234@localhost:3306/examplesdb')

# MySQL에 데이터프레임 저장
transactions_train.to_sql('transactions_train_table', engine, if_exists='replace', index=False)

engine.dispose()

In [137]:
articles.to_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data_slicing/articles.csv', index=False)
customers.to_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data_slicing/customers.csv', index=False)
transactions_train.to_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data_slicing/transactions_train.csv', index=False)
sample_submission.to_csv('/Users/jimincheol/Documents/Project/H&M_GNN_추천/HnM_Project_data_slicing/sample_submission.csv', index=False)